@mixin animation() {
  animation-duration: 1000ms;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  opacity: 1;
  animation-name: gogo;
}

@keyframes gogo {
  0% {
    opacity: 0;
    transform: translate3d(1000px, 0px, 0px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
