@mixin alignment($jjustify, $aalign) {
  display: flex;
  justify-content: $jjustify;
  align-items: $aalign;
}

@mixin iconStyles($height, $color) {
  display: flex;
  align-items: center;
  height: $height;
  color: $color;
  text-decoration: none;
  filter: grayscale(50%) opacity(0.7);
  transition: $transition-speed;
}
