#Footer {
  width: 100%;
  padding: 0.5em 0;
  flex-direction: column;
  background: black;
  text-align: center;
}

.social_media_icons {
  padding: 1em;
  text-align: center;

  a {
    margin: 0 0.8em;
  }
}

.svg_icon {
  height: 3rem;
  font-size: 1.8em;
  padding: 0.1em;
  transition: color 0.4s;

  &:hover {
    font-size: 1em;
  }
}

.copyright {
  color: $terciario-5;
  margin-top: 1em;
}

/* RESPONSIVE */
// Medium screen
@media only screen and (max-width: 770px) {
}

// Small screen
@media only screen and (max-width: 400px) {
  #Footer {
    margin-bottom: 3rem;

    h1 {
      font-size: 1em;
    }
  }

  .svg_icon {
    height: 2rem;
  }

  .copyright {
    font-size: 0.7em;
  }
}
