#Home {
  width: 100%;
  height: 100vh;
  padding: 3em 1rem;
  backdrop-filter: blur(1px);
  position: relative;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

#Particles {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.user_info {
  margin: 0 30px;

  p {
    font-family: "Titillium";
    font-size: $title;
    margin-bottom: 1.5em;
  }
}

.user_name {
  font-family: "Titillium";
  font-size: $jumbo;
  color: $terciario-5;
}

.user_btn {
  padding: 0.6em 2em;
  background: none;
  color: $primario-1;
  font-size: 1.1em;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid $primario-4;
  transition: all 0.4s;
  border-radius: 5%;

  &:hover {
    background-color: $primario-4;
  }
}

.user_img {
  position: relative;
  top: 10%;
  .me {
    width: 19em;
    height: 27em;
    border-radius: 5%;
    margin: 0 30px;
    box-shadow: 0 0 50px rgb(0 0 0 / 30%);

    &:hover {
      box-shadow: 0 0 50px rgb(247 244 244 / 30%);
    }
  }
}

.signature {
  width: 50%;
  position: absolute;
  right: 1rem;
  bottom: -1rem;
  transform: skew(3deg, -2deg);
  filter: drop-shadow(1px 1px 1px $terciario-5);
  border-radius: 10px;
  padding: 0.2rem;
  background-color: black;

  &:hover {
    transform: skew(-1deg, 1deg);
  }
}

#Home::before {
  content: "";
  width: 100%;
  height: 27em;
  position: absolute;
  right: 15em;
  z-index: -1;
  background: rgb(19, 19, 19);
  top: 5rem;
}
