@import "./mixing/animation.scss";

#Home {
  width: 100%;
  padding: 3em 1rem;
  backdrop-filter: blur(1px);
  position: relative;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

#Particles {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.user_info {
  margin: 0 30px;

  p {
    font-family: "Titillium";
    font-size: $title;
    margin-bottom: 1em;

    /* ANImation */
    @include animation();
  }
}

.user_name {
  font-family: "Titillium";
  font-size: $jumbo;
  color: $terciario-5;

  /* ANImation */
  @include animation();
}

.user_btn {
  padding: 0.6em 2em;
  background: none;
  color: $primario-1;
  font-size: 1.1em;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid $primario-4;
  transition: all 0.4s;
  border-radius: 5%;

  &:hover {
    background-color: $primario-4;
    color: $primario-8
  }
}

.user_img {
  position: relative;
  top: 10%;
  .me {
    width: 20em;
    border-radius: 5%;
    box-shadow: 0 0 50px rgb(0 0 0 / 30%);

    &:hover {
      box-shadow: 0 0 50px rgb(247 244 244 / 30%);
    }
  }
}

.signature {
  width: 60%;
  position: absolute;
  right: 0;
  bottom: -1rem;
  transform: skew(3deg, -2deg);
  filter: drop-shadow(1px 1px 1px $terciario-5);
  border-radius: 10px;
  padding: 0.2rem;
  background-color: black;

  &:hover {
    transform: skew(-1deg, 1deg);
  }
}

#Home::before {
  content: "";
  width: 100%;
  height: 30em;
  position: absolute;
  right: 15em;
  z-index: -1;
  background: rgb(19, 19, 19);
  top: 5rem;
}

/* ABOUT */

.h1_profile {
  font-size: $display;
  font-family: "Titillium";
  color: $primario-1;
}

.p_profile {
  color: $primario-1;
  font-size: $subheader;
  line-height: 3rem;
  margin-bottom: 1rem;
  font-family: "Lato";
}

/* MODAL */

.user-modal {
  position: absolute;
  top: 70px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  text-align: center;
  padding: 8rem;
  border: 1px solid white;
  background-color: $primario-4;
  opacity: .99;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 4%;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5em 0.5em;
  border-radius: 10%;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

/* RESPONSIVE */
// Medium screen
@media only screen and (max-width: 770px) {
  #Home,
  #Particles {
    height: 100vh;
  }

  #Home::before {
    right: 4em;
    height: 80vh;
  }

  .user_info {
    margin: 0;

    p {
      font-size: $subheader;
      margin-bottom: 0.5em;
    }
  }

  .user_name {
    font-size: $display;
  }

  .user_btn {
    padding: 0.5em 1em;
  }

  .user_img {
    top: 0;
    .me {
      width: 15em;
    }
  }

  .Overlay {
    left: 12%;
  }

  .user-modal {
    padding: 3rem 1rem;
  }

  .h1_profile {
    font-size: $headline;
  }
}

// Small screen
@media only screen and (max-width: 400px) {
  #Home {
    padding: 5em 0;
  }

  #Home::before {
    right: 0;
  }

  .user_info {
    margin: 0;

    p {
      font-size: $base;
      margin-bottom: 0.5em;
    }
  }

  .user_name {
    font-size: $title;
  }

  .user_btn {
    padding: 0.5em;
    font-size: $note;
    border: 1px solid #ff5c64c9;
  }

  .user_img {
    top: -5%;
    .me {
      width: 10em;
      box-shadow: 0 0 50px rgb(0 0 0);
      border-radius: 5%;
    }
  }

  .signature {
    display: none;
  }

  .user-modal {
    padding: 3rem 0.2rem;
    top: 5%;
    right: 12%;
    bottom: 20%;
    left: 0;
  }

  .h1_profile {
    font-size: $title;
    border-bottom: 2px solid white;
  }

  .p_profile {
    font-size: $base;
    line-height: 1rem;
    margin: 1rem auto;
  }
}
