/* @import "./color/color.scss";

#Profile {
  background: url("./img/poster.jpg");
  padding: 0 6rem;
  height: 100vh;
}

.center_profile {
  width: 85%;
}

.container_profile {
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  //box-shadow: -0.5rem -0.5rem 1rem 0rem #fff5f536;
}

.h1_profile {
  font-size: $display;
  font-family: "Titillium";
  color: $primario-1;
}

.p_profile {
  color: $primario-1;
  font-size: $subheader;
  line-height: 3rem;
  margin-bottom: 1rem;
  font-family: "Lato";
}

@media only screen and (max-width: 600px) {
  .center_profile {
    margin: 0;
  }
}
 */
