@import "./mixing/mixing.scss";

#Skills {
  position: relative;
  flex-direction: column;
  overflow-x: hidden;
  background-color: $primario-1;
}

.skill_box {
  @include alignment(center, center);
}

.skill_box .box {
  margin: 1em 2em;
  width: 8em;
  height: 8em;
  background: $primario-4;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.068);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
  flex-direction: column;
  cursor: none;
  position: relative;
  z-index: 1;
  padding: 0.5rem;

  @include alignment(center, center);
}

.skill_box .box::before {
  content: "";
  position: absolute;
  background: $secundario-8;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-origin: bottom;
  transform: scaleY(0.03);
  transition: all 0.3s;
}

.skill_box .box:hover::before {
  transform: scaleY(1);
}

.skill_box .box i {
  margin-bottom: 0.1em;
}

.skill_head {
  font-size: $base;
  font-family: "Lato";
}
