@import "./mixing/mixing.scss";
@import "./color/color.scss";

#Works {
  padding: 2rem 0 2rem 4rem;
  width: 100%;
}

.slide-info {
  width: 70%;
  margin: 0 auto;
  padding: 1rem 0;
}

.slide-link {
  height: 1rem !important;
}

/* RESPONSIVE */
// Medium screen
@media only screen and (max-width: 770px) {
  #Works {
    padding-bottom: 5rem;
  }

  .slide-info {
    margin: 0;
  }

  .slide-left {
    padding-left: 0.5em;
  }
}

// Small screen
@media only screen and (max-width: 400px) {
  #Works {
    padding-left: 0;
    padding-bottom: 0;
    height: inherit;
  }

  .slide-info {
    padding: 0.2em;
  }

  .slide-left {
    padding-left: 0.5em;
    width: 90%;
  }
}
